button {
    background-color: #004;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    opacity: 70%;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: left;
    padding: 10px;
    background-color: #004;
    color: #fff;
}
